# Keycloak Configuration
KEYCLOAK_BASE_URL=https://sso.keycloak.test
KEYCLOAK_CLIENT_ID=test
KEYCLOAK_REALM=test

# Application Configuration
NODE_ENV=production
APP_PORT=3000
GATEWAY_PORT=8000

# SSL Configuration
SSL_VERIFY=no
